<link rel="stylesheet" href="/styles/style.css" type="text/css" />
<header>
<!---------------- navbar code at very top of page ----------->
<nav class="navbar navbar-light bg-light fixed-top">
  <div class="container-fluid">
    <h7 class="navbar-brand" href="#">PERIODT be happy in your own skin and do it looking good, periodt. ⌒✧
    </h7>
    <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar"
      aria-controls="offcanvasNavbar">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
      <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="offcanvasNavbarLabel">Whatever Your Heart Desires</h5>
        <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
      </div>
      <div class="offcanvas-body">
        <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/home/">Home</a>
          </li>
      <% if (user) { %>
          <li class="nav-item">
            <!-- <a class="nav-link" href="#">Login</a> -->
          </li>

          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="offcanvasNavbarDropdown" role="button"
              data-bs-toggle="dropdown" aria-expanded="false">
              Logged in
            </a>
            <ul class="dropdown-menu" aria-labelledby="offcanvasNavbarDropdown">
              <!-- <li><a class="dropdown-item" href="#">Category</a></li>
              <li><a class="dropdown-item" href="#">Price</a></li> -->

              <li><a class="dropdown-item" href="/item_description">All items</a></li>
              <li>
                <hr class="dropdown-divider">
              </li>
              <li><a class="dropdown-item" href="https://app.mobilemonkey.com/chatbot-editor/338137/live-chat?remoteUserId=wc_5f51c09e8abac039e352673dac32ca">Message Inbox</a></li>


            </ul>
          </li>
        </ul>
        <button type="submit" class="btn btn-primary" href="/logged_in">Logout</button>
      <% } else { %>
        <!-- <li> -->
        <form class="form-inline" action="/login" method="POST">
          <div class="form-group mb-2">
            <label for="email">Email address</label>
            <input class="form-control" type="email" name="email" placeholder="Enter email" style="width: 300px; margin: 1em">
          </div>
          <div>
            <label for="password">Password</label>
            <input class="form-control" type="password" name="password" placeholder="Enter password" style="width: 300px; margin: 1em">
            <button type="submit" class="btn btn-primary" href="/logged_in">Login</button>
          </div>
        <!-- </li> -->
        </form>
      <% } %>
        <!-- make a logout rout button  -->

        <!-------Filter in the nav bar ------->
        <form id="searchForm" class="attribute-selected" action="/item_description" method="post">
        <fieldset class="price-filter">
          <legend class="sr-only">Filter by price</legend>
          <div>
              <label for="minPrice">
                  <span class="sr-only">Price</span>
                  from</label>
              <input type="text" name="minPrice" id="minPrice" value="" data-type="price">
          </div>
          <div class="input-break"> - </div>
          <div>
              <label for="maxPrice">
                  <span class="sr-only">Price</span>
                  to</label>
              <input type="text" name="maxPrice" id="maxPrice" value="" data-type="price">
          </div>
          <button type="submit" class="button-task" data-event="PriceSelected">
              Filter</button>
      </fieldset>
    </form>
      </div>
    </div>
  </div>
</nav>

</header>
